.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.5s;
  border-radius: 50%;
}

.pagination .active {
  background-color: #de3163;
  color: white;
  border-radius: 50%;
}

.pagination a:hover:not(.active) {
  background-color: #de3163;
}

#pagination__list {
  list-style: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
